<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below:</p>
      <ul>
        <%= for {attr, message} <- f.errors do %>
          <li><%= humanize(attr) %> <%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, "Title", class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :start_time, "Start time", class: "control-label" %>
    <%= datetime_select f, :start_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :end_time, "End time", class: "control-label" %>
    <%= datetime_select f, :end_time, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :owner, "Owner", class: "control-label" %>
    <%= text_input f, :owner, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label f, :billable, "Billable", class: "control-label" %>
    <%= checkbox f, :billable, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
