<h2>Listing timers</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Owner</th>
      <th>Billable</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for timer <- @timers do %>
    <tr>
      <td><%= timer.title %></td>
      <td><%= timer.start_time %></td>
      <td><%= timer.end_time %></td>
      <td><%= timer.owner %></td>
      <td><%= timer.billable %></td>

      <td class="text-right">
        <%= link "Show", to: timer_path(@conn, :show, timer), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: timer_path(@conn, :edit, timer), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: timer_path(@conn, :delete, timer), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New timer", to: timer_path(@conn, :new) %>
