<h2>Show timer</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @timer.title %>
  </li>

  <li>
    <strong>Start time:</strong>
    <%= @timer.start_time %>
  </li>

  <li>
    <strong>End time:</strong>
    <%= @timer.end_time %>
  </li>

  <li>
    <strong>Owner:</strong>
    <%= @timer.owner %>
  </li>

  <li>
    <strong>Billable:</strong>
    <%= @timer.billable %>
  </li>

</ul>

<%= link "Edit", to: timer_path(@conn, :edit, @timer) %>
<%= link "Back", to: timer_path(@conn, :index) %>
